<div class="chart-diplay">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>
  <div style="width: 100%">
    <canvas id="bar"></canvas>
  </div>
<!--
  <div style="width: 100%">
    <canvas id="bubble"></canvas>
  </div> -->

  <!-- <div style="width: 100%">
    <canvas id="doughnut"></canvas>
  </div>

  <div style="width: 100%">
    <canvas id="pie"></canvas>
  </div> -->

  <!-- <div style="width: 100%">
    <canvas id="line"></canvas>
  </div> -->
  <div style="width: 100%">
    <canvas id="line"></canvas>
  </div>
</div>
