 <!-- <div class="button-container">
  <a  class="button">
    Get in touch
  </a>
</div>

<div class="menu-button"><i class="zmdi zmdi-share"></i>
  <a href="#"><i class="zmdi zmdi-twitter"></i></a>
  <a href="#"><i class="zmdi zmdi-google-plus"></i></a>
  <a href="#"><i class="zmdi zmdi-codepen"></i>   </a>
</div> -->
<!-- different buttons -->
<div class="container">
    <h1>20 Button Hover Effects</h1>
    <div class="row cf">
      <div class="six col">
        <a href="#" class="button" id="button-1">Lorem ipsum dolor</a>
      </div>
      <div class="six col">
        <a href="#" class="button" id="button-2">Lorem ipsum dolor</a>
      </div>
    </div>
    <!-- <div class="row cf">
      <div class="six col">
        <a href="#" class="button" id="button-3">Lorem ipsum dolor</a>
      </div>
      <div class="six col">
        <a href="#" class="button" id="button-4">Lorem ipsum dolor</a>
      </div>
    </div>
    <div class="row cf">
      <div class="six col">
        <a href="#" class="button" id="button-5">Lorem ipsum dolor</a>
      </div>
      <div class="six col">
        <a href="#" class="button" id="button-6">Lorem ipsum dolor</a>
      </div>
    </div>
    <div class="row cf">
      <div class="six col">
        <a href="#" class="button" id="button-7">Lorem ipsum dolor</a>
      </div>
      <div class="six col">
        <a href="#" class="button" id="button-8">Lorem ipsum dolor</a>
      </div>
    </div>
    <div class="row cf">
      <div class="six col">
        <a href="#" class="button" id="button-9">Lorem ipsum dolor</a>
      </div>
      <div class="six col">
        <a href="#" class="button" id="button-10">Lorem ipsum dolor</a>
      </div>
    </div>
    <div class="row cf">
      <div class="six col">
        <a href="#" class="button" id="button-11">Lorem ipsum dolor</a>
      </div>
      <div class="six col">
        <a href="#" class="button" id="button-12">Lorem ipsum dolor</a>
      </div>
    </div>
    <div class="row cf">
      <div class="six col">
        <a href="#" class="button" id="button-13">Lorem ipsum dolor</a>
      </div>
      <div class="six col">
        <a href="#" class="button" id="button-14">Lorem ipsum dolor</a>
      </div>
    </div>
    <div class="row cf">
      <div class="six col">
        <a href="#" class="button" id="button-15">Lorem ipsum dolor</a>
      </div>
      <div class="six col">
        <a href="#" class="button" id="button-16">Lorem ipsum dolor</a>
      </div>
    </div>
    <div class="row cf">
      <div class="six col">
        <a href="#" class="button" id="button-17">Lorem ipsum dolor</a>
      </div>
      <div class="six col">
        <a href="#" class="button" id="button-18">Lorem ipsum dolor</a>
      </div>
    </div>
    <div class="row cf">
      <div class="six col">
        <a href="#" class="button" id="button-19">Lorem ipsum dolor</a>
      </div>
      <div class="six col">
        <a href="#" class="button" id="button-20">Lorem ipsum dolor</a>
      </div>
    </div> -->
  </div>
