.innerContent {
  padding: 20px; // display: flex;
  // margin-top: 0;
  // margin-left: 20%;
  // margin-bottom: 0;
  // height:85.5%;
  height: 88%;
  width: 77.3%;
  background-color: #F7F8FA;
  position: absolute;
  font-size: 30px;
  left: 20%; // align-items: center;
  // justify-content: center;
  .innerRows {
      // border: solid;
      // border-color: black;
      // background-color: white;
      height: 100%;

  }
}
