<div class="rowOne">
    <!-- Row1 -->
    <div class="row1col1 card">

      <!-- row1col1 -->
    </div>
    <div class="row1col2 card">
      <!-- row1col1 -->
    </div>
    <div class="row1col3 card">
      <!-- row1col1 -->
    </div>
    <div class="row1col4 card">
      <!-- row1col1 -->
    </div>
  </div>
  <!-- row1end -->
  <div class="rowTwo">
    <!-- row2 -->
    <div class="row2col1 card">
      <!-- row2Col1 -->
    </div>
    <div class="row2col2 card">
      <!-- row2Col2 -->
    </div>
  </div>
  <div class="rowThree ">
    <!-- row3 -->
    <div class="row3col1 card">
      <!-- row3Col1 -->
    </div>
    <div class="row3col2 card">
      <!-- row3Col2 -->
    </div>
  </div>
