.rowOne {
  height: 25%;
  width: 99.5%;
  background-color: #F7F8FA; // border: solid;
  // border-color: darkgreen; // padding:5px;
  display: flex;
  justify-content: space-around;
  .row1col1 {
      height: 88%;
      width: 23%; // border: solid;
      // border-color: black; // margin-top: 2%;
      // margin-bottom: 2%;
      // background-color: white;
      // box-shadow: 0 1px 8px 0 lightgrey;
  }
  .row1col2 {
      height: 88%;
      width: 23%;
      // background-color: white; // border: solid;
      // // border-color: black; // margin-top: 2%;
      // margin-bottom: 2%;
      // box-shadow: 0 1px 8px 0 lightgrey;
  }
  .row1col3 {
      height: 88%;
      width: 23%;
      // background-color: white; // border: solid;
      // // border-color: black; // margin-top: 2%;
      // margin-bottom: 2%;
      // box-shadow: 0 1px 8px 0 lightgrey;
  }
  .row1col4 {
      height: 88%;
      width: 23%;
      // background-color: white; // border: solid;
      // // border-color: black; // margin-top: 2%;
      // margin-bottom: 2%;
      // box-shadow: 0 1px 8px 0 lightgrey;
  }
}
.rowTwo {
  height: 36%;
  width: 99.5%;
  background-color: #F7F8FA; // border: solid;
  // border-color: darkred;
  display: flex;
  justify-content: space-around;
  .row2col1 {
      height: 92%;
      width: 58%;
      // border-color: chartreuse; // margin-top:2%;
      // background-color: white; // border: solid;
      // margin-bottom: 2%;
      // box-shadow: 0 1px 8px 0 lightgrey;
  }
  .row2col2 {
      height: 92%;
      width: 38%;
      // border-color: chartreuse; // margin-top:2%;
      // background-color: white; // border: solid;
      // margin-bottom: 2%;
      // box-shadow: 0 1px 8px 0 lightgrey;
  }
}
.rowThree {
  height: 36.5%;
  width: 99.5%;
  background-color: #F7F8FA; // border: solid;
  // border-color: darkviolet;
  display: flex;
  justify-content: space-around;
  .row3col1 {
      height: 100%;
      width: 48%;
      // background-color: white; // border: solid;
      // // border-color: chartreuse; // margin-top:2%;
      // margin-bottom: 2%;
      // box-shadow: 0 1px 8px 0 lightgrey;
  }
  .row3col2 {
      height: 100%;
      width: 48%;
      // background-color: white; // border: solid;
      // // border-color: chartreuse; // margin-top:2%;
      // margin-bottom: 2%;
      // box-shadow: 0 1px 8px 0 lightgrey;
  }
}
