<!-- <p>Users</p> -->
<!-- <div class="container">
  <table>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>email</th>
      <th>mobile</th>
      <th>city</th>
      <th>state</th>
      <th>pincode</th>
      <th>country</th>

    </tr>
    <tr *ngFor="let item of users" >
      <th>{{item.name}}</th>
      <th>{{item.address}}</th>
      <th>{{item.email}}</th>
      <th>{{item.mobile}}</th>
      <th>{{item.city}}</th>
      <th>{{item.state}}</th>
      <th>{{item.pincode}}</th>
      <th>{{item.country}}</th>
    </tr>
  </table>
</div> -->
<div>
    <app-ngx-editor></app-ngx-editor>
</div>
